doctype html
html
  head
    meta(charset='UTF-8')
    // Google Icon Font import
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Materialize css import
    link(rel='stylesheet', href='stylesheets/materialize.css')
    title TIME-KILLER
  body(bgcolor='ff5050')
    // Including navbar
    include nav.pug
    // Actual content
    .container.center.flow-text
      h2 Well... What did you expect clicking an 'AND' button?
      br
      h3 Since you like clicking buttons, here is one just for you
      br
      a.waves-effect.waves-light.btn-large.huge.teal.accent-2(href='help') Button

