doctype html
html
  head
    meta(charset='UTF-8')
    // Google Icon Font import
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Materialize css import
    link(rel='stylesheet' href='/stylesheets/materialize.css')
    title TIME-KILLER

  body.white
    // Include navigation bar and background
    include nav.pug
    include backgrounds/gamesbg.pug
    .container.flow-text.teal.accent-2.black-text.center
      h1 This page is designed purely for entertainment.
      h2 You can play games, browse memes or post memes in here.
      h2 Get started by clicking some link from the navigation bar!
      p Made by Daniel Linna for WWW-sovellukset course

