doctype html
html
  head
    meta(charset='UTF-8')
    // Google Icon Font import
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Materialize css import
    link(rel='stylesheet' href='/stylesheets/materialize.css')
    title TIME-KILLER

  body.teal.accent-2
    // Include navigation bar
    include nav.pug
    // Include SVG background
    include backgrounds/indexbg.pug
    // Footer (kind of)
    .center
      h3.flow-text.black-text Choose your way to kill time!

